* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
body {
  background-color: #014e56;
}

a {
    text-decoration: none;
}

.header_link {
    color: white;
}
.header-span {
  column-gap: 40px;
}
.header-myteam {
  display: flex;
  margin-top: 71px;
  align-items: center;
}
.header-span:hover {
  cursor: pointer;
}
.header-span {
  display: flex;
  margin-right: 577px;
  color: white;
  text-align: left;
  margin-left: 80px;
  column-gap: 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  column-gap: 40px;
}
.header_button {
  border: 2px solid white;
  border-radius: 24px;
  width: 153px;
  background-color: transparent;
  color: white;
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.header_button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: ease-in 0.8s;
}
.img {
  margin-top: 140px;
  margin-right: 65px;
}
.header-text-2 {
  display: flex;
  margin-top: 129px;
}
.header-text-2 > p {
  margin-left: 165px;
}
.header-text > p {
  color: white;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  text-align: left;
}
.header-text-span {
  color: salmon;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}
.display {
  display: flex;
}
.text {
  margin-top: 85px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: white;
  width: 700px;
}
.img-2 {
  margin-top: 150px;
  margin-left: 917px;
}
.imgs{
  display: flex;
  column-gap: 30px;
  margin-top: 64px;
}
.imgs-2 {
  margin-top: 48px;
  display: flex;
  column-gap: 30px;
}
.asdf{
  margin-left: 1233px;
}
/*                                                               main section-1                                                           */

.main-text {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  padding-top: 140px;
}
.section-1 {
  background-color: #004047;
}
.img-box {
  display: flex;
}
.img-box-box > span {
  color: #f67e7e;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
.img-box-box > p {
  margin-top: 16px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: white;
}
.img-box-box {
  margin-left: 23px;
}
.img-box-2 {
  margin-top: 32px;
  display: flex;
}
.img-box-box-2 {
  margin-left: 23px;
}
.img-box-box-2 > span {
  color: #f67e7e;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
.img-box-box-2 > p {
  margin-top: 16px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: white;
}
.img-box-3 {
  margin-top: 32px;
  display: flex;
}
.img-box-box-3 {
  margin-left: 23px;
}
.img-box-box-3 > p {
  margin-top: 16px;
  padding-bottom: 140px;
}
.all span {
  color: #f67e7e;

  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
.all p {
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
}
.main-box {
  display: flex;
}
.all {
  margin-top: 150px;
  margin-left: 125px;
}
/*                                                       main  section-2                                                                              */

.section-2 {
  background-color: #014e56;
}
.sec-2-title > p {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: white;
}
.sec-2-title-span {
  width: 932px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: right;
  color: aqua;
}
.section-2 > img {
  width: 147px;
  height: 100px;
}
.sec-2-box {
  padding-top: 20px;
  padding-bottom: 140px;
}
.sec-2-text-1 > p {
  text-align: center;
  width: 350px;
  margin-top: 92px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}
.display>span{
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-left: 250px;
  color: white;
  margin-top: 140px;
  margin-bottom: 64px;
}
.sec-2-text-1 > b {
  color: #79c8c7;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  width: 350px;
  margin-left: 50px;
  height: 100px;
}
.sec-2-text-1 > b {
  margin-left: 120px;
}
.sec-2-text-1 > i {
  color: white;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  margin-left: 85px;
}
.sec-2-box-img-1 {
  width: 62px;
  height: 62px;
  margin-left: 135px;
  margin-top: 32px;
}
.sec-2-text-2 > p {
  width: 350px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: white;
}
.sec-2-text-2 > b {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #79c8c7;
}
.sec-2-text-2 > i {
  color: white;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}
.sec-2-text-2 {
  text-align: center;
}
.sec-2-text-3 > p {
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
}
.sec-2-text-3 > b {
  margin-left: 105px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #79c8c7;
}
.sec-2-text-3 > i {
  margin-left: 100px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
.sec-2-text-3 > img {
  margin-left: 133px;
}
.sec-2-text-box {
  display: grid;
  grid-template-columns: max-content;
  display: flex;
}
.sec-2-text-3 {
  margin-top: 93px;
}
.sec-2-text-2 {
  margin-top: 93px;
}
.sec-2-text-box {
  column-gap: 30px;
}
.text-main>span{
font-size: 48px;
font-weight: 700;
line-height: 48px;
text-align: center;
}
.text-main{
  text-align: center;
  color: white;
}
.title-2{
  column-gap: 80px;
  display: flex;
  padding-bottom: 120px;
}
/*                                                             footer                                                                           */

footer {
  height: 200px;
  background-color: #f67e7e;
}
.footer-text > span {
  width: 504px;
  margin-left: 263px;
  margin-top: 76px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #012f34;
}
.footer-text > button {
  margin-top: 76px;
  padding: 10px 33px;
  border: 2px solid #012f34;
  border-radius: 24px;
  width: 153px;
  height: 48px;
  background-color: transparent;
  color: #012f34;
  font-size: 18px;
  transition: ease-out 1s;
}
.footer-text > button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.footer-text {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.fotter-home > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}
li {
  list-style: none;
}
.ul-dis {
  display: flex;
  column-gap: 40px;
}
.last-footer {
  display: flex;
  column-gap: 122px;
  padding-bottom: 48px;
}
.a-dec {
  text-decoration: none;
  color: gray;
}
.footer-img-log {
  margin-left: 330px;
}
.last-footer-2 > span {
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  text-align: right;
  color: grey;
}
.footer-img-log {
  flex-direction: column-reverse;
}
.footer-img-log > img {
  margin-bottom: 50px;
  margin-left: 140px;
}